In [10]:
from sklearn.datasets import load_iris
iris = load_iris()
print(type(iris))
x = iris.data
y = iris.target
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

<class 'sklearn.utils.Bunch'>

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

valores_performance = {}
k = 1

while k <= 25:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    previsoes = knn.predict(x_test)
    acertos = metrics.accuracy_score(y_test,previsoes)
    valores_performance[k] = round(acertos,4)
    k += 1
    
print(valores_performance)

{1: 1.0, 2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0, 9: 1.0, 10: 0.9474, 11: 0.9737, 12: 0.9737, 13: 1.0, 14: 0.9737, 15: 0.9737, 16: 0.9474, 17: 0.9737, 18: 0.9474, 19: 0.9737, 20: 0.9474, 21: 0.9737, 22: 0.9737, 23: 0.9474, 24: 0.9737, 25: 0.9474}

In [3]:
import matplotlib.pyplot as plt

plt.plot(list(valores_performance.keys()), list(valores_performance.values()))
plt.xlabel('Valores de K')
plt.ylabel('Performance')
plt.show()

In [21]:
import pandas as pd
import seaborn as sns

publi = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)

In [29]:
publi.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [30]:

x = publi[['TV', 'radio', 'newspaper']]
y = publi['sales']

In [31]:
x.shape

(200, 3)

In [32]:
y.shape

(200,)